/*css reset*/
*{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.wapper{
    margin: 0 auto;
    width: 1226px;
}
/*banner开始*/
#banner{
    background: url("banner.jpg") no-repeat 50% 50%;
    height: 120px;
}
#banner a{
    width: 100%;
    height:100%;
    display: block;
}
.nav{
    height: 40px;
    background: #333333;
}
.container{
    height: 40px;
}
#nav-left{
    float: left;
}
#nav-left li {
    display: block;
    float: left;
    line-height: 40px;
    height: 40px;

}
#nav-left li a{
    color:#b0b0b0;
    font-size: 12px;
}
#nav-left span{
    font-size: 12px;
    color: #424242;
    margin:0 6px;
}
#ul1 li a:hover{
    color: #ffffff;
}
.site-header,.site-header-container{
    height: 100px;
}
.site-header-container{
    /*background: #cccccc;*/
}
#logo{
    width: 55px;
    height: 55px;
    background: #ff6700;
    float: left;
    margin-top: 22px;
}
#logo:after{
    content: '';
    display: block;
    height: 55px;
    width: 55px;
    background: url("../例子/img/mi-logo.png") no-repeat center;
}
#site-header-container-right{
    height: 100px;
    width: 850px;
    /*background: #00ff00;*/
    float: left;
    margin-left: 142px;
}
#site-header-container-right ul li{
    float: left;
    line-height: 100px;

}#site-header-container-right ul li a{
     font-size: 16px;
     color:black;
     padding:0 10px;
 }
#menu-sec{
    position: absolute;
    left:0;
    height: 100px;
    width: 100%;
    border-top: 1px solid #cccccc ;
    border-bottom: solid 1px #cccccc;
    box-shadow: #cccccc 0 2px 2px;
}
 #menu-sec li{
     float: left;
 }
